<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allow devices</title>
    <link rel=”stylesheet” type=”text/css” href=”/css/normalize.css”>
    <script src="/htmx.js"></script>
    <script src="/ext/json-enc.js"></script>
    <script>
        htmx.on("htmx:responseError", function(evt) {
            var errdiv = document.getElementById("reg-results");
            errdiv.innerHTML = evt.detail.xhr.responseText;
        });
    </script>
</head>
<body>
<h1>Devices</h1>
<form class="form-example"
      hx-post="/api/auth/cookie/login"
      hx-target="#reg-results"
>
  <div class="form-example">
    <label for="username">Enter your username: </label>
    <input type="text" name="username" id="username" required>
  </div>
  <div class="form-example">
    <label for="password">Enter your password: </label>
    <input type="text" name="password" id="password" required>
  </div>
  <div class="form-example">
    <button class="btn">Submit</button>
  </div>
</form>
<div id="reg-results">hmmm</div>
<tr id="replaceMe">
  <td colspan="3">
    <button class='btn' hx-get="/contacts/?page=2"
                        hx-target="#replaceMe"
                        hx-swap="outerHTML">
         Load More Agents... <img class="htmx-indicator" src="/img/bars.svg">
    </button>
  </td>
</tr>
<!--<form class="form-example"-->
<!--      hx-post="/api/users/login/token/"-->
<!--      hx-target="#search-results">-->
<!--  <div class="form-example">-->
<!--    <label for="username">Enter your username: </label>-->
<!--    <input type="text" name="username" id="username" required>-->
<!--  </div>-->
<!--  <div class="form-example">-->
<!--    <label for="password">Enter your password: </label>-->
<!--    <input type="text" name="password" id="password" required>-->
<!--  </div>-->
<!--  <div class="form-example">-->
<!--    <button class="btn">Submit</button>-->
<!--  </div>-->
<!--</form>-->
<!--<div id="search-results">hmmm</div>-->
<!--<input type="text" name="q"-->
<!--          hx-get="/api/"-->
<!--          hx-trigger="keyup delay:500ms changed"-->
<!--          hx-target="#search-results"-->
<!--          placeholder="Search..."/>-->
<!--    <div id="search-results"></div>-->
</body>
</html>