alembic==1.6.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
anyio==3.3.0; python_full_version >= "3.6.2" and python_version >= "3.6"
asgi-lifespan==1.0.1; python_version >= "3.6"
asyncpg==0.24.0; python_full_version >= "3.6.0"
bcrypt==3.2.0; python_version >= "3.6"
certifi==2021.5.30; python_version >= "3.6"
cffi==1.14.6; python_version >= "3.6"
click-completion==0.5.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
click-default-group==1.2.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
click==8.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
colorama==0.4.4; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.1" and python_version < "4.0" and python_full_version < "4.0.0"
commonmark==0.9.1; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
cucumber-tag-expressions==2.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "2.7"
databases==0.5.2; python_version >= "3.6"
deprecated==1.2.12; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
dnspython==2.1.0; python_full_version >= "3.6.1" and python_version >= "3.6"
email-validator==1.1.3; python_full_version >= "3.6.1" and python_version >= "3.6" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7")
fastapi-users==6.1.3; python_version >= "3.7"
fastapi==0.68.1; python_version >= "3.6"
greenlet==1.1.1; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "arch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "arch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
h11==0.12.0; python_full_version >= "3.6.1" and python_version >= "3.7"
h2==4.0.0; python_full_version >= "3.6.1" and python_version >= "3.7"
hpack==4.0.0; python_full_version >= "3.6.1" and python_version >= "3.7"
httpcore==0.13.6; python_version >= "3.6"
httpx==0.18.2; python_version >= "3.6"
hypercorn==0.11.2; python_version >= "3.7"
hyperframe==6.0.1; python_full_version >= "3.6.1" and python_version >= "3.7"
idna==3.2
jinja2==3.0.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
makefun==1.9.5; python_version >= "3.7"
mako==1.1.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
markupsafe==2.0.1; python_full_version >= "3.6.1" and python_version >= "3.6" and python_full_version < "4.0.0"
passlib==1.7.4
pluggy==0.13.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pprintpp==0.4.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
priority==2.0.0; python_full_version >= "3.6.1" and python_version >= "3.7"
psycopg2==2.9.1; python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1"
pygments==2.9.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyjwt==2.1.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
python-editor==1.0.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
python-multipart==0.0.5
rfc3986==1.5.0; python_version >= "3.6"
rich==10.7.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
shellingham==1.4.0; python_version >= "2.6" and python_version < "3.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.0" and python_version < "3.1" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.1" and python_version < "3.2" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_version > "3.2" and python_version < "3.3" and python_full_version >= "3.6.1" and python_full_version < "4.0.0" or python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version > "3.3"
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.7" and python_full_version < "4.0.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
sqlalchemy==1.4.24; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
starlette==0.14.2; python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==1.2.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
typer==0.4.0; python_version >= "3.6"
typing-extensions==3.10.0.0; python_full_version >= "3.6.1" and python_version >= "3.6"
ward==0.63.0b0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
wrapt==1.12.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
wsproto==1.0.0; python_full_version >= "3.6.1" and python_version >= "3.7"
