<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}sensorserver{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.4"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.4/dist/hdb.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
        <script type="text/hyperscript">
        def setFailedLogin()
            add @failed to #login-button
            then remove @logged-in from #login-button
        end
        def setLoggedIn()
            add @logged-in to #login-button
            then remove @failed from #login-button
        end
        on fetch:error
            log "not logged in"
        end
        def fetchAndSetLoggedIn()
            fetch /api/users/me as response
            if result.ok
                call setLoggedIn()
            end
        end
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetchAndSetLoggedIn();
        })
        htmx.logAll();
    </script>
</head>
<body>
    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}
</body>
</html>