{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/graphs.css">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <label>Metric</label>
        <select name="metric">
            <option value="co2">CO2</option>
            <option value="humidity">Humidity</option>
            <option value="pm2_5">PM2.5</option>
            <option value="temperature">Temperature</option>
        </select>
    </div>
    <div id="choices"
         hx-get="/htmx/graphs/choices"
         hx-target="#choices-result"
         hx-swap="innerHTML"
         hx-trigger="load, every 20s">
        <div id="choices-result"></div>
        <img class="htmx-indicator" src="/loader/ball-triangle.svg"/>
    </div>
    <img class="htmx-indicator" src="/loader/ball-triangle.svg"/>
    <div id="images" hx-get="/htmx/graphs/element"
         hx-trigger="load, change from:[name='device'], change from:[name='metric']"
         hx-sync="#choices:queue all"
         hx-swap="innerHTML" hx-include="[name='metric'],[name='device']"></div>
</div>
{% endblock %}
