{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/graphs.css">
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <label>Metric</label>
        <select name="metric">
            <option value="co2">CO<sub>2</sub></option>
            <option value="humidity">Humidity</option>
            <option value="pm2_5">PM<sub>2.5</sub></option>
            <option value="temperature">Temperature</option>
        </select>
    </div>
    <div hx-get="/htmx/graphs/choices" hx-target="#choices" hx-swap="innerHTML" hx-trigger="load, every 10s">
        <div id="choices"></div>
        <img class="htmx-indicator" src="/loader/ball-triangle.svg"/>
    </div>
    <img class="htmx-indicator" src="/loader/ball-triangle.svg"/>
    <div id="images" hx-get="/htmx/graphs/element"
         hx-trigger="load from:[name='device'], change from:[name='device'], change from:[name='metric'], every 60s"
         hx-target="#images"
         hx-swap="innerHTML" hx-include="[name='metric'],[name='device']"></div>
</div>
{% endblock %}
